@using ForumTask.DbModels;
@using System.Drawing;
@model PaginationModel<Blog>
@{
    ViewData["Title"] = "Blog Page";
    Layout = "_Layout";
    User user = new User();
    if (ViewData["User"] is not null)
        user = ViewData["User"] as User;
}



<body>
    <main id="main">
        <!-- ======= Blog Section ======= -->
        <div style="padding-left: 20%">
            <button class="btn btn-info">
                <a asp-controller="Blog" asp-action="CreateBlog" asp-route-id="@user.Id">Create a new Blog</a>
            </button>
        </div>
        <section id="blog" class="blog">
            @foreach(var blog in Model.blogs)
            {
                var param = new Dictionary<string, string>{
                    { "blogID", $"{blog.Id}" },
                    { "userID", $"{user.Id}" }
                };

                <div class="container" data-aos="fade-up">
                    <div class="row">
                        <div class="col-lg-8 entries">
                            <article class="entry">
                                <div class="entry-img">
                                    <img src="@Url.Content(blog.CoreImage)" alt="" class="img-fluid" />
                                </div>

                                <h2 class="entry-title">
                                    <a asp-controller="Blog" asp-action="SingleBlog" asp-route-id="@blog.Id">@blog.Title</a>
                                </h2>

                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a asp-controller="Blog" asp-action="SingleBlog">@blog.ContentOwner</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a asp-controller="Blog" asp-action="SingleBlog"><time>@blog.ReleaseDate.ToString("MMM dd, yyyy hh:mm")</time></a></li>
                                    </ul>
                                </div>

                                <div class="entry-content">
                                    <p>@blog.ShortContent</p>
                                    <div>
                                        <br />
                                        @if (user.Role != null && (user.Role.ToLower() == "admin" || user.Name == blog.ContentOwner))
                                        {
                                            <button onclick="blogDelete(event)" class="read-more">
                                                <a asp-controller="Blog" asp-action="DeleteBlog" asp-route-id="@blog.Id">Delete</a>
                                            </button>
                                            <button class="read-more">
                                                <a asp-controller="Blog" asp-action="EditBlog" asp-all-route-data="@param">Edit</a>
                                            </button>
                                        }
                                        <button class="read-more">
                                            <a asp-controller="Blog" asp-action="SingleBlog" asp-all-route-data="param">Read More</a>
                                        </button>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            }
        </section><!-- End Blog Section -->
        <div style="padding-right: 20%;">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (@i == Model.Page)
                        {
                            <li class="page-item active">
                                <a class="page-link">
                                    @i
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="/Blog/Blogs?page=@i&pagesize=@Model.PageSize&userID=@user.Id">@i</a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </main><!-- End #main -->
</body>